#root {
  --bgMain: #42607b;
  --btnBgColor: #00a1d4;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
