@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .mini-container {
    @apply text-left flex flex-col gap-2 m-6;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .btn-primary {
    @apply bg-[#00a1d4] text-white px-4 p-2 rounded-md;
  }
  .dropdown-container {
    @apply text-white flex p-2 font-sans cursor-pointer items-center;
  }
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
